.randomizer {
	.randomizer--choosers {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.randomizer--header {
		text-align: center;
	}

	.randomizer--shuffle-button {
		margin: 10px;
	}
}
