.sets-page {
	.sets-page--choosers {
		display: flex;
		flex-wrap: wrap;
	}

	.sets-page--logo {
		max-width: 100%;
	}

	.sets-page--header {
		text-align: center;
	}

	.sets-page--shuffle-button {
		margin: 10px;
	}
}
