@mixin linear-gradient($top, $bottom){
    background: $bottom; /* Old browsers */
    background:    -moz-linear-gradient(top right,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top right,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(top right,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background:     -ms-linear-gradient(top right,  $top 0%,$bottom 100%); /* IE10+ */
    background:         linear-gradient(to bottom left,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
