* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/parchment.jpg");
}

.page {
	.page--home-button {
		position: fixed;
		top: 20px;
		left: 20px;
	}

	.page--logo {
		max-width: 100%;
		display: block;
		margin: auto;
	}
}

@import "pages/menu";
@import "pages/playerSetup";
@import "pages/randomizer";
@import "pages/scoreTracker";
@import "pages/selectProducts";
@import "components/PlayerControl";
@import "components/PlayerDropdown";
@import "components/setChooser";
@import "components/setDropdown";
