* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/parchment.jpg");
}

@import "components/setsPage";
@import "components/setChooser";
@import "components/setDropdown";
