* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/parchment.jpg");
}

.page {
	.page--logo {
		max-width: 100%;
		display: block;
		margin: auto;
		cursor: pointer;
	}
}

@import "pages/menu";
@import "pages/randomizer";
@import "components/setChooser";
@import "components/setDropdown";
